<template name="reservationDetailPane">
    <div class="padded page helveticas">
        {{#with reservation}}
        <div class="panel {{reservation_color}}">
            <div class="panel-heading">
                {{reservation_status}}
            </div>
            <ul class="list-unstyled">
                <h4>
                    <!--<li class="large barcode">{{ reservationSlot }}</li>-->
                    <li><span class="label">Date</span><span class="with-left-padding">{{reservation_date}}</span></li>
                    <li><span class="label">Hour</span><span class="with-left-padding">{{hour}}:00</span></li>
                    <li><hr class="gray-line"></li>
                    <!--<li>-->
                        <!--&lt;!&ndash;<span class="label">Notes</span>&ndash;&gt;-->
                        <!--{{#if editing_notes}}-->
                            <!--<span>-->
                                <!--<input id="notesTextInput" type="text" placeholder="Some text" value="{{ notes }}" />-->
                            <!--</span>-->
                        <!--{{else}}-->
                        <!--<span id="notesTextDisplay">-->
                            <!--<span class="clickable">{{notes}}</span>-->
                        <!--</span>-->
                        <!--{{/if}}-->
                    <!--</li>-->
                    <!--<li><hr class="gray-line"></li>-->
                    {{#if reserved}}
                    <li><button id="cancelReservationButton" class="unselectable fullwidth btn btn-warning">Cancel Reservation</button></li>
                    {{else}}
                    <li><button id="reserveRoomsButton" class="unselectable fullwidth btn btn-success">Reserve Room</button></li>
                    {{/if}}

                </h4>
            </ul>
        </div>


        {{/with}}
    </div>
</template>
